# Create an Information System for a selected domain of interest.

You may use any back-end, including a DB developed in another module.
You may use any front-end, including CLI, GUI, web and API.
Describe the requirements of the information system, including users, data requirements, search, sorting, entry, update, validation, integrity, reporting etc.
Implement and test the Information System, and document your implementation thoroughly.
You must use public git (e.g. GitHub) to manage your source and versioning, with regular frequent commits.
You must attribute all code not written from scratch, either in accordance with its licence, if applicable, or if not, #taken from ...
You may use any programming language, however example programs will be presented in Python.
Groups must not exceed three members.
There will be a presentation in January, with the Moderator present, in order to assist in grading the work
Technical questions may be asked of any member of the group, and the assignment is individually marked. The contribution reports and GitHub record may be used to direct questions and to allocate marks.
All groups must submit a group report, containing individual contribution reports and a link to GitHub
All individuals must submit a reflective report on their experience of the group, assignment, and module

https://github.com/sabithamaram/PIS_B9IS123_CA2

In [9]:
import pandas as pd
from pandas import DataFrame as df
import matplotlib.pyplot as plt
import numpy as np

class_1_2014_csv = pd.read_csv(r'/Users/srikanthshileshpasam/OneDrive - Dublin Business School (DBS)/Python/CA2/Data/Class_1_2014.csv')
print(class_1_2014_csv)

# class_1_2014_data = class_1_2014_csv.columns.tolist()
# print(class_1_2014_data)

for index, row in class_1_2014_csv.iterrows():
    print(row['Order'], row['Name'])

    Order              Name Gender of Student  2013-14 EOY RC Level  \
0       1             Ahmed              Male                   0.2
1       2              Ayan              Male                   0.2
2       3   Ayesha Fatima 1            Female                   0.2
3       4    Ayesha Fatima.            Female                   0.0
4       5            Dinesh              Male                   NaN
5       6      Faisal Pasha              Male                   0.5
6       7      Firdous Banu            Female                   0.5
7       8            Javeen              Male                   0.5
8       9          Kuhrshid              Male                   1.0
9      10         Md.Mukram            Female                   0.5
10     11        Mirza Baig            Female                   0.0
11     12       Mohd. Azhar              Male                   0.5
12     13      Mohd. Saadiq              Male                   0.5
13     14       Mohmmed Ali              Male                   0.2
14     15         Moinuddin              Male                   0.0
15     16     Nayyar Fatima            Female                   0.2
16     17     Nazreen Begum            Female                   NaN
17     18       Nida Fatima            Female                   0.5
18     19  Nikith Tabasuman            Female                   0.2
19     20        Saba Begum            Female                   0.5
20     21        Sana Fimal            Female                   0.2
21     22            Sayyum            Female                   0.5
22     23       Shaik Ikram              Male                   0.2
23     24       Sidra Begum            Female                   0.5
24     25       Syed Ashfaq              Male                   0.2
25     26    Tabassam Begum            Female                   0.5
26     27             Arifa            Female                   0.0
27     28            Saniya            Female                   0.5
28     29        Neha Begum            Female                   1.0
29     30        Mahejabeen            Female                   0.0
30     31      Sana Begum 2            Female                   0.5
31     32            Mehak             Female                   0.2
32     33          Farheen             Female                   0.5
33     34      Mohd Ibrahim              Male                   NaN
34     35            Saba 1            Female                   1.5
35     36         Imran Ali              Male                   0.5
36     37            Imtiaz              Male                   0.5
37     38            Aquaib              Male                   NaN
38     39            Ghouse              Male                   NaN

    2014 EOY RC Level  2014 EOY Writing level 2014 EOY Math
0                 NaN                     NaN           NaN
1                 0.0                     0.0            9%
2                 0.5                     1.1           19%
3                 0.5                     0.6           21%
4                 NaN                     NaN           NaN
5                 0.2                     1.9           33%
6                 NaN                     NaN           NaN
7                 1.5                     2.9           38%
8                 1.5                     2.4           58%
9                 2.0                     2.6           41%
10                NaN                     NaN           NaN
11                NaN                     NaN           NaN
12                1.5                     2.4           54%
13                0.5                     0.7           37%
14                0.5                     0.6           15%
15                0.2                     0.6           13%
16                0.5                     1.0           26%
17                1.5                     2.9           44%
18                0.2                     1.0           15%
19                0.5                     1.2           18%
20                NaN                     NaN           NaN
21                1.5                     1.9           46%
22                0.2                     1.2           40%
23                0.5                     0.9           27%
24                2.0                     2.9           38%
25                1.5                     2.6           49%
26                0.5                     0.5           27%
27                1.0                     2.7           35%
28                1.5                     2.1           54%
29                0.5                     1.4           19%
30                2.5                     2.6           58%
31                0.2                     0.6           17%
32                1.0                     0.7           21%
33                0.5                     2.0           44%
34                3.0                     2.9           42%
35                1.0                     NaN           24%
36                NaN                     1.1           16%
37                2.5                     2.9           28%
38                NaN                     NaN           NaN
1 Ahmed
2 Ayan
3 Ayesha Fatima 1
4 Ayesha Fatima.
5 Dinesh
6 Faisal Pasha
7 Firdous Banu
8 Javeen
9 Kuhrshid
10 Md.Mukram
11 Mirza Baig
12 Mohd. Azhar
13 Mohd. Saadiq
14 Mohmmed Ali
15 Moinuddin
16 Nayyar Fatima
17 Nazreen Begum
18 Nida Fatima
19 Nikith Tabasuman
20 Saba Begum
21 Sana Fimal
22 Sayyum
23 Shaik Ikram
24 Sidra Begum
25 Syed Ashfaq
26 Tabassam Begum
27 Arifa
28 Saniya
29 Neha Begum
30 Mahejabeen
31 Sana Begum 2
32 Mehak
33 Farheen
34 Mohd Ibrahim
35 Saba 1
36 Imran Ali
37 Imtiaz
38 Aquaib
39 Ghouse