# Create an Information System for a selected domain of interest.

You may use any back-end, including a DB developed in another module.
You may use any front-end, including CLI, GUI, web and API.
Describe the requirements of the information system, including users, data requirements, search, sorting, entry, update, validation, integrity, reporting etc.
Implement and test the Information System, and document your implementation thoroughly.
You must use public git (e.g. GitHub) to manage your source and versioning, with regular frequent commits.
You must attribute all code not written from scratch, either in accordance with its licence, if applicable, or if not, #taken from ...
You may use any programming language, however example programs will be presented in Python.
Groups must not exceed three members.
There will be a presentation in January, with the Moderator present, in order to assist in grading the work
Technical questions may be asked of any member of the group, and the assignment is individually marked. The contribution reports and GitHub record may be used to direct questions and to allocate marks.
All groups must submit a group report, containing individual contribution reports and a link to GitHub
All individuals must submit a reflective report on their experience of the group, assignment, and module

https://github.com/sabithamaram/PIS_B9IS123_CA2

In [19]:
import pandas as pd
from pandas import DataFrame as df
from tabulate import tabulate as tb
import matplotlib.pyplot as plt
import numpy as np

rc_data = []
lis_data = []
wri_data = []
math_data = []


# class_data = class_csv.columns.tolist()
# print(class_data)

class Avg:
    
    def __init__(self, avg_data):
        self.avg_data = avg_data
        
        for index, row in avg_data.iterrows():
            reading_row_rc = row['RC']
            rc_data.append(reading_row_rc)
    
            reading_row_lis = row['Listening']
            lis_data.append(reading_row_lis)
            
            reading_row_wri = row['Writing']
            wri_data.append(reading_row_wri)
    
            reading_row_math = row['Math']
            math_data.append(reading_row_math)
    
#        print(math_data)
#        print(row['Order'], row['Name'])
        
    
    def rc(self):
        return sum(rc_data)/len(rc_data)
    
    def listening(self):
        return sum(lis_data)/len(lis_data)
    
    def writing(self):
        return sum(wri_data)/len(wri_data)
    
    def math(self):
        calc = sum(math_data)/len(math_data)
        return calc * 100
    

class SubjectMarks:
    
    def __init__(self, sub_data):
        self.sub_data = sub_data
        
    def rc(self):
        rc_df = self.sub_data[['Order', 'Name', 'RC']]
        print(tb(rc_df, headers=["Roll Order", "Name", "RC"], tablefmt='grid', showindex='never'))
            
    def listening(self):
        rc_df = self.sub_data[['Order', 'Name', 'Listening']]
        print(tb(rc_df, headers=["Roll Order", "Name", "Listening"], tablefmt='grid', showindex='never'))
        
    def writing(self):
        rc_df = self.sub_data[['Order', 'Name', 'Writing']]
        print(tb(rc_df, headers=["Roll Order", "Name", "Writing"], tablefmt='grid', showindex='never'))
            
    def math(self):
        rc_df = self.sub_data[['Order', 'Name', 'Math']]
        print(tb(rc_df, headers=["Roll Order", "Name", "Math"], tablefmt='grid', showindex='never'))
            

choice = int(input('\nChoose a grade level: 1 or 2\n'))
if choice == 1:
    choice = int(input('\nChoose year: 2014, 2015 or 2016\n'))
    if choice == 2014:
        master_data_file = pd.read_csv(r'/Users/srikanthshileshpasam/OneDrive - Dublin Business School (DBS)/Python/CA2/Data/Class_1_2014.csv')
    elif choice == 2015:
        master_data_file = pd.read_csv(r'/Users/srikanthshileshpasam/OneDrive - Dublin Business School (DBS)/Python/CA2/Data/Class_1_2015.csv')
    elif choice == 2016:
        master_data_file = pd.read_csv(r'/Users/srikanthshileshpasam/OneDrive - Dublin Business School (DBS)/Python/CA2/Data/Class_1_2016.csv')
    else:
        print('Invalid choice!')
            
elif choice == 2:
    choice = int(input('\nChoose year: 2014, 2015 or 2016\n'))
    if choice == 2014:
        master_data_file = pd.read_csv(r'/Users/srikanthshileshpasam/OneDrive - Dublin Business School (DBS)/Python/CA2/Data/Class_2_2014.csv')
    elif choice == 2015:
        master_data_file = pd.read_csv(r'/Users/srikanthshileshpasam/OneDrive - Dublin Business School (DBS)/Python/CA2/Data/Class_2_2015.csv')
    elif choice == 2016:
        master_data_file = pd.read_csv(r'/Users/srikanthshileshpasam/OneDrive - Dublin Business School (DBS)/Python/CA2/Data/Class_2_2016.csv')
    else:
        print('Invalid choice!')
            
choice = int(input('\nPick a choice to process data in the way required:\n1) Claculate the class average\n2) Student-wise marks\n3) Plot graph of class growth\n'))
if choice == 1:
    class_average = Avg(master_data_file)
    class_average_rc = class_average.rc()
    class_average_lis = class_average.listening()
    class_average_writing = class_average.writing()
    class_average_math = class_average.math()
    
    print('\n\n\nThe class average is as below:\n\nRC: %.2f' %class_average_rc)
    print('\nListening: %.2f' %class_average_lis)
    print('\nWriting: %.2f' %class_average_writing)
    print('\nMath: %.2f' %class_average_math)
    
elif choice == 2:
    student_wise_marks = SubjectMarks(master_data_file)
    class_rc = student_wise_marks.rc()
    class_lis = student_wise_marks.listening()
    class_writing = student_wise_marks.writing()
    class_math = student_wise_marks.math()

else:
    print('Invalid choice!')

Choose a grade level: 1 or 2
1

Choose year: 2014, 2015 or 2016
2014

Pick a choice to process data in the way required:
1) Claculate the class average
2) Student-wise marks
3) Plot graph of class growth
2
+--------------+------------------+------+
|   Roll Order | Name             |   RC |
+==============+==================+======+
|            1 | Ahmed            |  0.2 |
+--------------+------------------+------+
|            2 | Ayan             |  0.2 |
+--------------+------------------+------+
|            3 | Ayesha Fatima 1  |  0.2 |
+--------------+------------------+------+
|            4 | Ayesha Fatima.   |  0   |
+--------------+------------------+------+
|            5 | Dinesh           |  0.2 |
+--------------+------------------+------+
|            6 | Faisal Pasha     |  0.5 |
+--------------+------------------+------+
|            7 | Firdous Banu     |  0.5 |
+--------------+------------------+------+
|            8 | Javeen           |  0.5 |
+--------------+------------------+------+
|            9 | Kuhrshid         |  1   |
+--------------+------------------+------+
|           10 | Md.Mukram        |  0.5 |
+--------------+------------------+------+
|           11 | Mirza Baig       |  0   |
+--------------+------------------+------+
|           12 | Mohd. Azhar      |  0.5 |
+--------------+------------------+------+
|           13 | Mohd. Saadiq     |  0.5 |
+--------------+------------------+------+
|           14 | Mohmmed Ali      |  0.2 |
+--------------+------------------+------+
|           15 | Moinuddin        |  0   |
+--------------+------------------+------+
|           16 | Nayyar Fatima    |  0.2 |
+--------------+------------------+------+
|           17 | Nazreen Begum    |  0.5 |
+--------------+------------------+------+
|           18 | Nida Fatima      |  0.5 |
+--------------+------------------+------+
|           19 | Nikith Tabasuman |  0.2 |
+--------------+------------------+------+
|           20 | Saba Begum       |  0.5 |
+--------------+------------------+------+
|           21 | Sana Fimal       |  0.2 |
+--------------+------------------+------+
|           22 | Sayyum           |  0.5 |
+--------------+------------------+------+
|           23 | Shaik Ikram      |  0.2 |
+--------------+------------------+------+
|           24 | Sidra Begum      |  0.5 |
+--------------+------------------+------+
|           25 | Syed Ashfaq      |  0.2 |
+--------------+------------------+------+
|           26 | Tabassam Begum   |  0.5 |
+--------------+------------------+------+
|           27 | Arifa            |  0   |
+--------------+------------------+------+
|           28 | Saniya           |  0.5 |
+--------------+------------------+------+
|           29 | Neha Begum       |  1   |
+--------------+------------------+------+
|           30 | Mahejabeen       |  0   |
+--------------+------------------+------+
|           31 | Sana Begum 2     |  0.5 |
+--------------+------------------+------+
|           32 | Mehak            |  0.2 |
+--------------+------------------+------+
|           33 | Farheen          |  0.5 |
+--------------+------------------+------+
|           34 | Mohd Ibrahim     |  0.5 |
+--------------+------------------+------+
|           35 | Saba 1           |  1.5 |
+--------------+------------------+------+
|           36 | Imran Ali        |  0.5 |
+--------------+------------------+------+
|           37 | Imtiaz           |  0.5 |
+--------------+------------------+------+
|           38 | Aquaib           |  1   |
+--------------+------------------+------+
|           39 | Ghouse           |  0.2 |
+--------------+------------------+------+
+---------+------------------+----------+------+-------------+-----------+--------+
|   Order | Name             | Gender   |   RC |   Listening |   Writing |   Math |
+=========+==================+==========+======+=============+===========+========+
|       1 | Ahmed            | Male     |  0.2 |         0.2 |       0   |   0.1  |
+---------+------------------+----------+------+-------------+-----------+--------+
|       2 | Ayan             | Male     |  0.2 |         0   |       0   |   0.09 |
+---------+------------------+----------+------+-------------+-----------+--------+
|       3 | Ayesha Fatima 1  | Female   |  0.2 |         0.5 |       1.1 |   0.19 |
+---------+------------------+----------+------+-------------+-----------+--------+
|       4 | Ayesha Fatima.   | Female   |  0   |         0.5 |       0.6 |   0.21 |
+---------+------------------+----------+------+-------------+-----------+--------+
|       5 | Dinesh           | Male     |  0.2 |         0.2 |       1   |   0.55 |
+---------+------------------+----------+------+-------------+-----------+--------+
|       6 | Faisal Pasha     | Male     |  0.5 |         0.2 |       1.9 |   0.33 |
+---------+------------------+----------+------+-------------+-----------+--------+
|       7 | Firdous Banu     | Female   |  0.5 |         0.3 |       2.5 |   0.23 |
+---------+------------------+----------+------+-------------+-----------+--------+
|       8 | Javeen           | Male     |  0.5 |         1.5 |       2.9 |   0.38 |
+---------+------------------+----------+------+-------------+-----------+--------+
|       9 | Kuhrshid         | Male     |  1   |         1.5 |       2.4 |   0.58 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      10 | Md.Mukram        | Female   |  0.5 |         2   |       2.6 |   0.41 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      11 | Mirza Baig       | Female   |  0   |         1   |       2   |   0.43 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      12 | Mohd. Azhar      | Male     |  0.5 |         2   |       3   |   0.11 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      13 | Mohd. Saadiq     | Male     |  0.5 |         1.5 |       2.4 |   0.54 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      14 | Mohmmed Ali      | Male     |  0.2 |         0.5 |       0.7 |   0.37 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      15 | Moinuddin        | Male     |  0   |         0.5 |       0.6 |   0.15 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      16 | Nayyar Fatima    | Female   |  0.2 |         0.2 |       0.6 |   0.13 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      17 | Nazreen Begum    | Female   |  0.5 |         0.5 |       1   |   0.26 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      18 | Nida Fatima      | Female   |  0.5 |         1.5 |       2.9 |   0.44 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      19 | Nikith Tabasuman | Female   |  0.2 |         0.2 |       1   |   0.15 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      20 | Saba Begum       | Female   |  0.5 |         0.5 |       1.2 |   0.18 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      21 | Sana Fimal       | Female   |  0.2 |         0.3 |       1.1 |   0.15 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      22 | Sayyum           | Female   |  0.5 |         1.5 |       1.9 |   0.46 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      23 | Shaik Ikram      | Male     |  0.2 |         0.2 |       1.2 |   0.4  |
+---------+------------------+----------+------+-------------+-----------+--------+
|      24 | Sidra Begum      | Female   |  0.5 |         0.5 |       0.9 |   0.27 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      25 | Syed Ashfaq      | Male     |  0.2 |         2   |       2.9 |   0.38 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      26 | Tabassam Begum   | Female   |  0.5 |         1.5 |       2.6 |   0.49 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      27 | Arifa            | Female   |  0   |         0.5 |       0.5 |   0.27 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      28 | Saniya           | Female   |  0.5 |         1   |       2.7 |   0.35 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      29 | Neha Begum       | Female   |  1   |         1.5 |       2.1 |   0.54 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      30 | Mahejabeen       | Female   |  0   |         0.5 |       1.4 |   0.19 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      31 | Sana Begum 2     | Female   |  0.5 |         2.5 |       2.6 |   0.58 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      32 | Mehak            | Female   |  0.2 |         0.2 |       0.6 |   0.17 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      33 | Farheen          | Female   |  0.5 |         1   |       0.7 |   0.21 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      34 | Mohd Ibrahim     | Male     |  0.5 |         0.5 |       2   |   0.44 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      35 | Saba 1           | Female   |  1.5 |         3   |       2.9 |   0.42 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      36 | Imran Ali        | Male     |  0.5 |         1   |       2   |   0.24 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      37 | Imtiaz           | Male     |  0.5 |         0.5 |       1.1 |   0.16 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      38 | Aquaib           | Male     |  1   |         2.5 |       2.9 |   0.28 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      39 | Ghouse           | Male     |  0.2 |         0.5 |       1.5 |   0.23 |
+---------+------------------+----------+------+-------------+-----------+--------+
+---------+------------------+----------+------+-------------+-----------+--------+
|   Order | Name             | Gender   |   RC |   Listening |   Writing |   Math |
+=========+==================+==========+======+=============+===========+========+
|       1 | Ahmed            | Male     |  0.2 |         0.2 |       0   |   0.1  |
+---------+------------------+----------+------+-------------+-----------+--------+
|       2 | Ayan             | Male     |  0.2 |         0   |       0   |   0.09 |
+---------+------------------+----------+------+-------------+-----------+--------+
|       3 | Ayesha Fatima 1  | Female   |  0.2 |         0.5 |       1.1 |   0.19 |
+---------+------------------+----------+------+-------------+-----------+--------+
|       4 | Ayesha Fatima.   | Female   |  0   |         0.5 |       0.6 |   0.21 |
+---------+------------------+----------+------+-------------+-----------+--------+
|       5 | Dinesh           | Male     |  0.2 |         0.2 |       1   |   0.55 |
+---------+------------------+----------+------+-------------+-----------+--------+
|       6 | Faisal Pasha     | Male     |  0.5 |         0.2 |       1.9 |   0.33 |
+---------+------------------+----------+------+-------------+-----------+--------+
|       7 | Firdous Banu     | Female   |  0.5 |         0.3 |       2.5 |   0.23 |
+---------+------------------+----------+------+-------------+-----------+--------+
|       8 | Javeen           | Male     |  0.5 |         1.5 |       2.9 |   0.38 |
+---------+------------------+----------+------+-------------+-----------+--------+
|       9 | Kuhrshid         | Male     |  1   |         1.5 |       2.4 |   0.58 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      10 | Md.Mukram        | Female   |  0.5 |         2   |       2.6 |   0.41 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      11 | Mirza Baig       | Female   |  0   |         1   |       2   |   0.43 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      12 | Mohd. Azhar      | Male     |  0.5 |         2   |       3   |   0.11 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      13 | Mohd. Saadiq     | Male     |  0.5 |         1.5 |       2.4 |   0.54 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      14 | Mohmmed Ali      | Male     |  0.2 |         0.5 |       0.7 |   0.37 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      15 | Moinuddin        | Male     |  0   |         0.5 |       0.6 |   0.15 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      16 | Nayyar Fatima    | Female   |  0.2 |         0.2 |       0.6 |   0.13 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      17 | Nazreen Begum    | Female   |  0.5 |         0.5 |       1   |   0.26 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      18 | Nida Fatima      | Female   |  0.5 |         1.5 |       2.9 |   0.44 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      19 | Nikith Tabasuman | Female   |  0.2 |         0.2 |       1   |   0.15 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      20 | Saba Begum       | Female   |  0.5 |         0.5 |       1.2 |   0.18 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      21 | Sana Fimal       | Female   |  0.2 |         0.3 |       1.1 |   0.15 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      22 | Sayyum           | Female   |  0.5 |         1.5 |       1.9 |   0.46 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      23 | Shaik Ikram      | Male     |  0.2 |         0.2 |       1.2 |   0.4  |
+---------+------------------+----------+------+-------------+-----------+--------+
|      24 | Sidra Begum      | Female   |  0.5 |         0.5 |       0.9 |   0.27 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      25 | Syed Ashfaq      | Male     |  0.2 |         2   |       2.9 |   0.38 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      26 | Tabassam Begum   | Female   |  0.5 |         1.5 |       2.6 |   0.49 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      27 | Arifa            | Female   |  0   |         0.5 |       0.5 |   0.27 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      28 | Saniya           | Female   |  0.5 |         1   |       2.7 |   0.35 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      29 | Neha Begum       | Female   |  1   |         1.5 |       2.1 |   0.54 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      30 | Mahejabeen       | Female   |  0   |         0.5 |       1.4 |   0.19 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      31 | Sana Begum 2     | Female   |  0.5 |         2.5 |       2.6 |   0.58 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      32 | Mehak            | Female   |  0.2 |         0.2 |       0.6 |   0.17 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      33 | Farheen          | Female   |  0.5 |         1   |       0.7 |   0.21 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      34 | Mohd Ibrahim     | Male     |  0.5 |         0.5 |       2   |   0.44 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      35 | Saba 1           | Female   |  1.5 |         3   |       2.9 |   0.42 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      36 | Imran Ali        | Male     |  0.5 |         1   |       2   |   0.24 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      37 | Imtiaz           | Male     |  0.5 |         0.5 |       1.1 |   0.16 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      38 | Aquaib           | Male     |  1   |         2.5 |       2.9 |   0.28 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      39 | Ghouse           | Male     |  0.2 |         0.5 |       1.5 |   0.23 |
+---------+------------------+----------+------+-------------+-----------+--------+
+---------+------------------+----------+------+-------------+-----------+--------+
|   Order | Name             | Gender   |   RC |   Listening |   Writing |   Math |
+=========+==================+==========+======+=============+===========+========+
|       1 | Ahmed            | Male     |  0.2 |         0.2 |       0   |   0.1  |
+---------+------------------+----------+------+-------------+-----------+--------+
|       2 | Ayan             | Male     |  0.2 |         0   |       0   |   0.09 |
+---------+------------------+----------+------+-------------+-----------+--------+
|       3 | Ayesha Fatima 1  | Female   |  0.2 |         0.5 |       1.1 |   0.19 |
+---------+------------------+----------+------+-------------+-----------+--------+
|       4 | Ayesha Fatima.   | Female   |  0   |         0.5 |       0.6 |   0.21 |
+---------+------------------+----------+------+-------------+-----------+--------+
|       5 | Dinesh           | Male     |  0.2 |         0.2 |       1   |   0.55 |
+---------+------------------+----------+------+-------------+-----------+--------+
|       6 | Faisal Pasha     | Male     |  0.5 |         0.2 |       1.9 |   0.33 |
+---------+------------------+----------+------+-------------+-----------+--------+
|       7 | Firdous Banu     | Female   |  0.5 |         0.3 |       2.5 |   0.23 |
+---------+------------------+----------+------+-------------+-----------+--------+
|       8 | Javeen           | Male     |  0.5 |         1.5 |       2.9 |   0.38 |
+---------+------------------+----------+------+-------------+-----------+--------+
|       9 | Kuhrshid         | Male     |  1   |         1.5 |       2.4 |   0.58 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      10 | Md.Mukram        | Female   |  0.5 |         2   |       2.6 |   0.41 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      11 | Mirza Baig       | Female   |  0   |         1   |       2   |   0.43 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      12 | Mohd. Azhar      | Male     |  0.5 |         2   |       3   |   0.11 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      13 | Mohd. Saadiq     | Male     |  0.5 |         1.5 |       2.4 |   0.54 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      14 | Mohmmed Ali      | Male     |  0.2 |         0.5 |       0.7 |   0.37 |
+---------+------------------+----------+------+-------------+-----------+--------+
|      15 | Moinuddin        | Male     |  0   |         0.5 |       0.6 |   0.15 |